.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.individual-item {
  text-align: left;
}

.individual-item:hover{
  background-color: #aaaaaa;
  cursor: pointer;
}

.active_item{
  background-color: #aaaaaa;
}


.individual-item img {
  height: 0.7rem;
  margin-right: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ListContainer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 2rem auto;
  max-width: 30rem;
  padding: 0.5rem 2rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.4rem #aaaaaa;
}
